version: '3.8'

services:
  nginx:
    build: nginx
    container_name: nginx-container
    restart: unless-stopped
    ports:
      - 8080:80
    depends_on:
      - php8.1
      - php7.4
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./src/:/var/www/
    networks:
      - lara_net

  php8.1:
    build: php8.1
    container_name: php8.1-container
    user: "${UID}:${GID}"
    restart: unless-stopped
    depends_on:
      - mysql_db
    expose:
      - 9000
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./src/:/var/www/
    networks:
      - lara_net

  php7.4:
    build: php7.4
    restart: unless-stopped
    container_name: php7.4-container
    user: "${UID}:${GID}"
    depends_on:
      - mysql_db
    expose:
      - 9000
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./src/:/var/www/
    networks:
      - lara_net

  mysql_db:
    image: mariadb:latest
    container_name: dev-mysql-container
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - 3308:3306
    restart: unless-stopped
    volumes:
      - ./db/mysql:/var/lib/mysql
    environment:
        MYSQL_ROOT_PASSWORD: root
    networks:
      - lara_net

networks:
  lara_net:
    driver: bridge